<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb761433095430442</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>761433095430442</string>
	<key>FacebookClientToken</key>
	<string>30423d17cc187bd11031f59b11aa9796</string>
	<key>FacebookDisplayName</key>
	<string>AstroHunt</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
